RANDFILE        = ./.rnd
####################################################################

[ req ]
default_bits       = 2048
distinguished_name = server_distinguished_name
req_extensions     = /server_req_extensions.txt
string_mask        = utf8only
prompt = no

####################################################################
[ server_distinguished_name ]
countryName         = AR
stateOrProvinceName         = Buenos Aires
localityName                = Buenos Aires Capital Federal
organizationName            = kathevigs
commonName         = ClientNodeCon
emailAddress = kathesama@gmail.com
####################################################################
