RANDFILE        = ./.rnd
####################################################################

[ req ]
default_bits       = 2048
distinguished_name = server_distinguished_name
req_extensions     = server_req_extensions
string_mask        = utf8only
prompt = no

####################################################################
[ server_distinguished_name ]
countryName         = AR
stateOrProvinceName         = Buenos Aires
localityName                = Buenos Aires Capital Federal
organizationName            = kathevigs
commonName         = Node02Con
emailAddress = kathesama@gmail.com
####################################################################

[ server_req_extensions ]
subjectKeyIdentifier = hash
basicConstraints     = CA:FALSE
keyUsage             = digitalSignature, keyEncipherment
subjectAltName       = @alternate_names
nsComment            = "OpenSSL Generated Certificate"
extendedKeyUsage = clientAuth, serverAuth
####################################################################

#here you can set your prefered IP pool, each one should have a config mongodb server
[ alternate_names ]
IP.1 = 10.0.0.12
IP.2 = 10.0.0.12
IP.3 = 10.0.0.12
IP.4 = 127.0.0.1
IP.5 = ::1
DNS.1 = localhost
